[submodule "repositories/stable-diffusion-stability-ai"]
	path = repositories/stable-diffusion-stability-ai
	url = https://github.com/Stability-AI/stablediffusion
[submodule "repositories/generative-models"]
	path = repositories/generative-models
	url = https://github.com/Stability-AI/generative-models
[submodule "repositories/k-diffusion"]
	path = repositories/k-diffusion
	url = https://github.com/crowsonkb/k-diffusion
[submodule "repositories/BLIP"]
	path = repositories/BLIP
	url = https://github.com/salesforce/BLIP
[submodule "repositories/stable-diffusion-webui-assets"]
	path = repositories/stable-diffusion-webui-assets
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui-assets
